body{
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
 .container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
 
header{
    background: #143d59;
    color:#ffffff;
    padding: 10px 0;
}

header a{

    color: #ffffff;
    font-size: 20px;
}
header li{
display: inline;
padding: 0 20px;

}
#caption{
float: left;

}
#caption h1{margin: 0;}
header nav{
float: right;
    margin-top: 10px;
}
header .highlight , header .current a{
    color: #ec850f;
    font-weight: bold;
}
header a:hover{                                                                                                                                                                                                                                                                                         
    color: #cccccc;
    font-weight: bold;
}

#heading
{
    min-height: 500px;
    background-image: url('https://itxitpro.com/front/img/web-development-services.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #ffffff;
}
#heading h1{
margin-top: 100px;
margin-bottom: 0;
font-size: 75px;
font-family: 'Abril Fatface' , cursive;

}
#heading h2{
margin-top: 10px;
font-size: 75px;
font-family: 'Abril Fatface' , cursive;
margin-bottom: 20px;
}
#search{
    padding: 25px;
    background-color: #143d59;
}

#boxes{
    margin-top: 50px;

}
#boxes .box{
    float: left;
    text-align: center;
    padding: 10px;
    width: 30%;
}
#boxes .box img{width: 100pxS;}

#boxes .box h3{
 font-weight: bolder;
    font-size: 25px;
}

#boxes .box p{
    font-family: 'Lobster' , cursive;
    font-size: 20px;
}

#slogan h2{
    text-align: center;
    font-size: 50px;
font-weight: bold;
color: rgb(4, 158, 59);
margin-top: 70px;
margin-bottom: 50px;
}
#slogan p{
text-align: center;
font-size: 25px;
font-family: 'Lobster', cursive;
}
#slogan h4{
text-align: center;
font-size: 35px;
font-weight: bold;
font-family: 'Abril Fatface', cursive;

}

#my-form{
    background-color: rgba(233, 185, 96, 0.795);
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
   
}
#my-form .form-group{
    padding-bottom: 15px;
    font-size: 20px;
    color: #c28f0e;
    font-weight: bold;
}
#my-form label{
    display: block;
}
#slogan-2{
 text-align: center;
    font-size: 45px;
font-weight: bold;
color: rgb(4, 158, 59);
margin-top: 60px;
margin-bottom: 50px;
}
#videos{
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
footer{
padding: 20px;
margin-top: 20px;
color: #ffffff;
background: #143d59;
text-align: center;}
.slogan{
    text-align: center;
}
#know-more{display: none;}
#name-validation{color:red;font-size: 14px;display: none;}
#email-validation{color:red;font-size: 14px;display: none;}
#password-validation{color:red;font-size: 14px;display: none;}

